{% extends 'common/wrap.html' %}
{% load static %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.text }}
        <button type="submit" class="save btn btn-default">ASK)</button>
    </form>
{% endblock %}