{% extends 'common/wrap.html' %}
{% load static %}

{% block content %}
    <h2>Вопросы пользователя</h2>
    {% for quest in questions_list %}
        <div class="question" id="{{ quest.id }}">
            <hr>
            {{ quest.text }}
            <br>
            {{ quest.answer }}
        </div>
    {% endfor %}
    <script>
        $('.question').on('click', function (f) {
            $.ajax({
                url: "/like",
                type: 'post',
                data: {
                    question_id: f.id,
                    user_id: {{ user.get_id }}
                },
                dataType: 'json',
                success: function (data) {
                    console.log(data.save)
                },
                failure: function (data) {

                }
            });
        })
    </script>
{% endblock %}