{% extends 'prof/base.html' %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <!-- Default form login -->
            <form action="{% url 'login' %}" method="post" class="text-center p-5">
                {% csrf_token %}
                <div class="md-form">
                    <input type="text" name="username" id="username" class="form-control">
                    <label for="username">Логин</label>
                </div>
                <div class="md-form">
                    <input type="password" id="password" name="password" class="form-control">
                    <label for="password">Пароль</label>
                </div>
                {% if login_error %}
                    <label>{{ login_error }}</label>
                {% endif %}
                <input type="submit" class="btn btn-sm btn-info waves-effect" value="Войти"/>
            </form>
        </div>
    </div>
{% endblock %}