{% extends 'prof/base.html' %}
{% load static %}

{% block content %}
    <nav class="mb-1 navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="#">IAPOLLY</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
                    aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link waves-effect waves-light" href="#">
                            <i class="fas fa-envelope"></i> Contact
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light" href="#">
                            <i class="fas fa-gear"></i> Settings</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-4"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i> Profile </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-info"
                             aria-labelledby="navbarDropdownMenuLink-4">
                            <a class="dropdown-item waves-effect waves-light" href="#">My account</a>
                            <a class="dropdown-item waves-effect waves-light" href="{% url 'logout' %}">Log out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img width="100%" src="{{ profile.page_picture.file.url }}" alt="">
            </div>
            <div class="col-9">
                <h3>
                    {{ profile.first_name }}
                    {{ profile.last_name }}
                </h3>
                <div>
                    Status: {{ profile.status }}
                </div>
                <div>
                    Сity: {{ profile.location.city }} <br>
                    Birthday: {{ profile.d_o_b }}
                </div>
                <br>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3">
                <div id="friends">
                    <a href="{% url 'prof:my_friends' prof_url='iapolly' %}">My friends</a>
                </div>
            </div>
            <div class="col-md-9">
                <div id="posts">
                    <h3>Posts</h3>
                    <hr>
                    <form id="post-form" method="post" enctype="multipart/form-data">
                        <div id="count">300</div>
                        {% csrf_token %}
                        {{ form.text }}
                        {{ form.img }}
                        <button type="submit" class="save btn btn-sm btn-default">
                            <i class="fab fa-telegram-plane"></i>
                        </button>
                    </form>
                    <hr>
                    {% for post in posts %}
                        <div class="card">
                        <div class="card-title text-right">
                            {% if user == profile.user  %}
                            <a href="{% url 'edit_post' post_id=post.id %}"><i class="fas fa-pen-square"></i></a>
                            {% endif %}
                        </div>
                            <div class="card-body">
                                {{ post.author.first_name }} <br>
                                <hr>
                                {{ post.text }}
                                <br>
                                {% if post.img %}
                                    <img width="90%" src="{{ post.img.url }}" alt="">
                                {% endif %}
                            </div>
                            <div class="card-footer text-center">
                                <img class="like" id="{{ post.id }}" src="{% static 'img/notlike.png' %}">
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <style>
        #id_text {
            height: 100px;
        }
    </style>
    <script>
        $('.like').on('click', function (event) {
            post_id = event.target.id;
            $.ajax({
                url: "/walls/like/",
                dataType: 'json',
                data: {
                    post_id: post_id,
                },
                success: function (data) {
                    likesCount = data.data;
                    document.getElementById(post_id).src = '{% static 'img/like.png' %}'
                },
                error: function (data) {
                    console.log('sad')
                }
            });
        });

        $(document).ready(function () {
            $("#id_text").keyup(function () {
                var box = $(this).val();
                var count = 300 - box.length;

                if (box.length <= 300) {
                    $('#count').html(count);
                } else {
                    alert(' Full ');
                }
                return false;
            });

        });
    </script>

    {#</script>#}
{% endblock content %}

