{% extends 'prof/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>FRIENDS</h4>
            <ul>
                {% for f in friends %}
                    <li class="friend">{{ f.first_name }} </li>
                {% endfor %}
            </ul>
            </div>
        </div>
    </div>

{% endblock content %}