{% extends 'msg/base.html' %}

{% block content %}
<div class="container main">
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-cascade wider">
              <!-- Card image -->
              <div class="view view-cascade rgba-blue-grey-light">
                <!-- Title -->
                <h2 class="text-center card-header-title mb-3">{{ user }}'s messages</h2>
              </div>

              <!-- Card content -->
              <div class="card-body card-body-cascade text-center">
                    <div class="container">
                        {% for mes in all_mes %}
                        {% if mes.read %}
                        <div class="row alert alert-light">
                        {% else %}
                        <div class="row alert alert-info">
                        {% endif %}
                            <div class="name col-lg-2">
                                {{ mes.sender.username }}
                            </div>
                            <div class="msg col-lg-7">
                                <a href="/messages/im/{{ mes.id }}/">
                                    {{ mes.cut }}
                                </a>
                            </div>
                            <div class="date col-lg-3">
                                {{ mes.date_added|date:"SHORT_DATE_FORMAT"}} {{ mes.date_added|time:"h:i a"}}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
            </div>
        </div>

    </div>
</div>
</div>
{% endblock content %}