{% extends 'msg/base.html' %}
{% load hashtag %}
{% block content %}
<div class="container main">
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-cascade wider">
              <!-- Card image -->
              <div class="view view-cascade rgba-blue-grey-light">
                <!-- Title -->
                <h2 class="text-center card-header-title mb-3">
                    <button class="btn btn-sm rounded mb-0 vertical-center" onclick="location.href='/messages/im/'" type="button">
                        <img  src="https://img.icons8.com/ios/30/000000/return.png" alt="">
                    </button>
                </h2>
              </div>

              <!-- Card content -->
              <div class="card-body card-body-cascade text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="float-left">
                                                from: {{ msg.sender|make_hash_tag|safe}}
                                                <br>
                                                to: {{ msg.receiver|make_hash_tag|safe }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="float-right">
                                                {{ msg.date_added|date:"SHORT_DATE_FORMAT"}} {{ msg.date_added|time:"h:i a"}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 border border-light">
                                            <div>
                                                {{ msg.text }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 text-center">
                                            <br>
                                            <div id="reply-button">
                                                <button type="button" class="btn btn-sm btn-default">Reply</button>
                                            </div>
                                            <br>
                                            <form method="post" hidden>
                                                {% csrf_token %}
                                                {{ form.text }}
                                                <button type="submit" class="save btn btn-default">SEND</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

    </div>
</div>
</div>
<style>
    textarea{
        width: 100%;
        height: 50pt;
        border-color: cadetblue;
    }
</style>
<script>
    $('#reply-button').on('click', function () {
        $('#reply-button').hide();
        $('form').removeAttr('hidden')
    })
</script>
{% endblock content %}
