{% extends 'prof/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form method="POST">
                    {% csrf_token %}
                    <p>
                        <label>Текст</label><br>
                        <input type="text" name="text" value="{{ post.text }}"/>
                    </p>
                    <p>
                        <label>Изображение</label><br>
                        <input type="file" name="img" value="{{ post.img }}"/>
                    </p>
                    <input type="submit" value="Save">
                </form>
            </div>
        </div>
    </div>
{% endblock %}