{% extends 'skills/base.html' %}

{% block content %}
    <h3>Workers</h3>
    <hr>
    {% for w in workers %}
        <div>
            <a href="/skills/worker/{{ w.id }}">{{ w.first_name }} {{ w.second_name }} </a>
        </div>
    {% endfor %}
{% endblock content %}