{% extends 'skills/base.html' %}

{% block content %}
    <h3>{{ worker.first_name }} {{ worker.second_name }}</h3>
    <hr>
    <div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="all-skills">
                <ul>Skills:</ul>
                {% for skill in all_skills %}
                    <li>{{ skill.title }}</li>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="recommend-skills">
                <ul>Recommend skills:</ul>
                {% for skill in recommend_skills %}
                    <li>{{ skill.title}}</li>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
{#<div>#}
{#    <h4>ADD SKILL:</h4>#}
{#        <form method="post">#}
{#            {%  csrf_token %}#}
{#            {{ form.title }}#}
{#            {{ form.category }}#}
{#            <button type="submit">send</button>#}
{#        </form>#}
{#</div>#}

{% endblock content %}